.questionCard_container {
  width: 90%;
  max-width: 300px;
}

.questionCard_img_container {
  min-height: 150px;
}

.questionCard_info_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 12px;
}
